h1{
    color:blue;

}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size:small;
}
label{
    font-family: Marker Felt, fantasy;
}
button {
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s; /* Safari */
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}
button{
    cursor:pointer;
    
  }
  button:hover{
    background:lightgray;
  }